{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/message.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/lib/bootstrap_filestyle/src/bootstrap-filestyle.js') }}"></script>
{% endblock %}


{% block content %}

	{% set flashMessages = app.session.flashbag.get('notice') %}

    <div class="content col-md-9">
        
        <h3>Edition de l'information {{information.message.titre}} </h1>

		{{ form_start(edit_form,{'attr': {'class' : 'form-horizontal'}} ) }}

			{{ form_errors(edit_form) }}

			<div class="form-group">

				<p>
					{{ form_label(edit_form.message.titre) }}
					{{ form_widget(edit_form.message.titre) }}
				</p>
				<p>
					{{ form_label(edit_form.message.urlphoto) }}
					{{ form_widget(edit_form.message.urlphoto) }}
					<a class="btn btn-default showImage" style="width:100%;">Visualiser l'image</a>
				</p>
				<p>
					{{ form_label(edit_form.message.attachement) }}
					{{ form_widget(edit_form.message.attachement) }}
				</p>
				<p>
					{{ form_label(edit_form.message.urllien) }}
					{{ form_widget(edit_form.message.urllien) }}
				</p>
				<p>
					{{ form_label(edit_form.zone) }}
					{{ form_widget(edit_form.zone) }}
				</p>
				<p class="dateElement">
					{{ form_label(edit_form.message.datevalidite) }}
					{{ form_widget(edit_form.message.datevalidite) }}
				</p>
				<p>
					{{ form_label(edit_form.message.message) }}
					{{ form_widget(edit_form.message.message) }}
				</p>
				<p class="list-form-control">
					<label>Notifications</label>
					<table class="table table-hover">
						<tr>
							<td>
					  			{{ form_label(edit_form.alerte) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{{ form_widget(edit_form.alerte) }}
					  		</td>
					  	</tr>
					</table>
				</p>

				<p>	
		      		<button class="btn btn-primary" type="submit">Modifier l'information</button>
					<a class="btn btn-default" href={{ path('information') }}>Annuler</a>
		  	  	</p>

			</div>

		{{ form_end(edit_form) }}

		{% if flashMessages|length > 0 %}
    	<p>
    	<div class="alert alert-danger" role="alert">
			{% for flashMessage in flashMessages %}
			    <div class="flash-notice">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
		</div>
		</p>
		{% endif %}

    </div>


{% endblock %}

{% block modal %}
	<div id="showImageModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
		        <span aria-hidden="true">&times;</span>
		        <span class="sr-only">Fermer</span>
	        </button>
	        <h4 class="modal-title">Visualisation de l'image</h4>
	      </div>
	      <div class="modal-body">
	        
	      </div>
	      <div class="modal-footer">
	        <a class="showFull btn btn-default" type="button">
	        	Zoom
	        	<span class="glyphicon glyphicon-resize-full"></span>
	        </a>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
