{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/thiefainereferentiel/js/datatable.js'
        'bundles/thiefainereferentiel/js/table.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
        <div class="content col-md-9">

            <h3>Gestion des informations</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Titre <span class="glyphicon cheveron-down" title="Trier par titre"></span></th>
                    <th>Date création <span class="glyphicon cheveron-down" title="Trier par date de création"></span></th>
                    <th>Date de validité <span class="glyphicon cheveron-down" title="Trier par date de validité"></span></th>
                    <th>Zone <span class="glyphicon cheveron-down" title="Trier par date de validité"></span></th>
                    <th>Créateur <span class="glyphicon cheveron-down" title="Trier par créateur"></span></th>
                    <th>Photo <span class="glyphicon cheveron-down" title="Trier par photo"></span></th>
                    <th>Lien <span class="glyphicon cheveron-down" title="Trier par lien"></span></th>
                    <th>Alerte <span class="glyphicon cheveron-down" title="Trier par lien"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for information in informations %}
                    <tr>
                        <td>
                            <a href="{{ path('information_show', { 'id': information.id }) }}">
                                <span class="glyphicon glyphicon-eye-open" title="Visionner"></span>
                            </a>
                            <a href="{{ path('information_delete', {'id': information.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette information ?')">
                                <span class="glyphicon glyphicon-remove" title="Supprimer"></span>
                            </a>
                            <a href="{{ path('information_clone', {'id': information.id}) }}">
                                <span class="glyphicon glyphicon-th-large" title="Cloner"></span>
                            </a
                        </td>
                        <td>
                            <abbr title="{{ information.titre }}">
                                {{ information.titre[:10] }}
                                {% if information.titre|length > 10 %}
                                    ...
                                {% endif %}
                            </abbr>
                        </td>
                        <td>{{ information.datecreation|date("d/m/Y") }}</td>
                        <td>{{ information.datevalidite is empty ? "-" :information.datevalidite|date("d/m/Y") }}</td>
                        <td>
                            <abbr title="{{ information.zone.nom }}">
                                {{ information.zone.nom[:10] | default("-") }}
                                {% if information.zone.nom|length > 10 %}
                                    ...
                                {% endif %}
                            </abbr>
                        </td>
                        <td>
                            {% if information.utilisateurweb %}
                                {{ information.utilisateurweb.nom }} {{ information.utilisateurweb.prenom[:1] }}.
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                        {% if information.urlphoto %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            -
                        {% endif %}
                        </td>
                        <td>
                        {% if information.urllien %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            -
                        {% endif %}
                        </td>
                        <td>
                        {% if information.alerte %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            -
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
{% endblock %}