{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}

	{% set flashMessages = app.session.flashbag.get('notice') %}

	<div class="content col-md-9">

		<h3>Mise à jour de l'utilisateur «{{ utilisateurweb.username }}»</h3>

		{% if flashMessages|length > 0 %}
    	<div class="alert alert-danger" role="alert" style="margin-top: 20px">
			{% for flashMessage in flashMessages %}
			    <p>
				{{ flashMessage }}
			   </p>
			{% endfor %}
		</div>
		{% endif %}

		{{ form_start(edit_form,{'attr': {'class' : 'form-horizontal'}} ) }}

			<div class="form-group">
				<p>
					{{ form_label(edit_form.nom) }}
					{{ form_widget(edit_form.nom) }}
				</p>
				<p>
					{{ form_label(edit_form.prenom) }}
					{{ form_widget(edit_form.prenom) }}
				</p>
			    <p>
					{{ form_label(edit_form.username) }}
					{{ form_widget(edit_form.username) }}
				</p>
				<p>
					{{ form_label (edit_form.plainPassword.first) }}
					{{ form_widget (edit_form.plainPassword.first) }}
				</p>
				<p>
					{{ form_label (edit_form.plainPassword.second) }}
					{{ form_widget (edit_form.plainPassword.second) }}
				</p>
				<p>
					{{ form_label(edit_form.groups) }}
					{{ form_widget(edit_form.groups) }}
				</p>
				<p>
					{{ form_label(edit_form.email) }}
					{{ form_widget(edit_form.email) }}
				</p>
			  	<p>
					{{ form_label(edit_form.infos) }}
					{{ form_widget(edit_form.infos) }}
				</p>
		      	<p>	
		      		<button class="btn btn-primary" type="submit">Modifier l'utilisateur</button>
					<a class="btn btn-default" href={{ path('thiefaine_referentiel_utilisateurweb_list') }}>Annuler</a>
		  	  	</p>
		    </div>

		{{ form_end(edit_form) }}

	</div>
{% endblock %}
