{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block content %}
    <div class="content">
        <h3>Gestion des utilisateurs</h3>
        <table class="records_list table table-hover">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Groupe</th>
                    <th>Email</th>
                    <th>Infos</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('utilisateurweb_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" title="Modifier"></span></a>
                        </td>
                        <td>{{ entity.nom }}</td>
                        <td>{{ entity.prenom }}</td>
                        <td>{{ entity.groupe }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.infos|striptags('html') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}