{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block content %}
    <div class="content">
        <h3>Gestion des utilisateurs</h3>
        <table class="records_list table table-hover">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Login</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Groupe</th>
                    <th>Email</th>
                    <th>Infos</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path('utilisateurweb_edit', { 'id': user.id }) }}">
                                <span class="glyphicon glyphicon-pencil" title="Modifier"></span>
                            </a>
                            {% if user.hasRole('ROLE_SUPER_ADMIN') == false %}
                            <a href="{{ path('utilisateurweb_delete', {'id': user.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur ?')">
                                <span class="glyphicon glyphicon-remove" title="Supprimer"></span>
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>
                            {% for group in user.groups %}
                            {{ group.name }}
                            {% endfor %}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.infos|striptags('html') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}