{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block header %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="navbar-left">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | 
                <a href="{{ path('fos_user_profile_show') }}"><button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-user" name="connect"></span> Mon compte</button></a>
                <a href="{{ path('fos_user_security_logout') }}"><button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-log-out" name="connect"></span> Déconnexion</button></a>
            </div>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block connexion %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
