{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block content %}
        <div class="content">

                <h3>Gestion des alertes</h3>

                <table class="table table-hover">

                    <tr>
                        <th>Actions</th>
                        <th>Titre <span class="glyphicon cheveron-down" title="Trier par titre"></span></th>
                        <th>Date création <span class="glyphicon cheveron-down" title="Trier par date de création"></span></th>
                        <th>Date de validité <span class="glyphicon cheveron-down" title="Trier par date de validité"></span></th>
                    </tr>

                    {% for entity in entities %}
                        <tr>
                            <td>
                                    <a href="{{ path('conseil_edit', { 'id': entity.id }) }}" >edit</a>
                                    <a href="{{ path('conseil_delete', {'id': entity.id}) }}" onclick="return confirm('Eves vous sûr de vouloir supprimer ce conseil ?')" >delete</a>
                            </td>
                            <td>{{ entity.titre }}</td>
                            <td>{{ entity.datecreation|date("d/m/Y") }}</td>
                            <td>{{ entity.datevalidite is empty ? "" :entity.datevalidite|date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}

                </table>
        </div>
{% endblock %}