{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/lib/bootstrap_filestyle/src/bootstrap-filestyle.js') }}"></script>
{% endblock %}


{% block content %}

    <div class="content">
        
        <h3>Création d'une alerte</h1>

		{{ form_start(form,{'attr': {'class' : 'form-horizontal'}} ) }}

			{{ form_errors(form) }}

			<div class="form-group">

				<p>
					{{ form_label(form.message.titre) }}
					{{ form_widget(form.message.titre) }}
				</p>
				<p>
					{{ form_label(form.message.urlphoto) }}
					{{ form_widget(form.message.urlphoto) }}
				</p>
				<p>
					{{ form_label(form.message.urllien) }}
					{{ form_widget(form.message.urllien) }}
				</p>
				<p>
					{{ form_label(form.zone) }}
					{{ form_widget(form.zone) }}
				</p>
				<p class="dateElement">
					{{ form_label(form.message.datevalidite) }}
					{{ form_widget(form.message.datevalidite) }}
				</p>
				<p>
					{{ form_label(form.message.message) }}
					{{ form_widget(form.message.message) }}
				</p>

				<p>	
		      		<button class="btn btn-primary" type="submit">Créer l'alerte</button>
					<a class="btn btn-default" href={{ path('alerte') }}>Annuler</a>
		  	  	</p>

			</div>

		{{ form_end(form) }}

    </div>


{% endblock %}
