{% extends 'ThiefaineReferentielBundle:Default:index.html.twig' %}

{% block leftbar %}
	<div id="left_bar">
		<ul class="nav nav-pills nav-stacked">
		  <li class=""><a href="{{ path('thiefaine_referentiel_accueil') }}">Accueil</a></li>
		  <li class="">
		  	<div id='cssmenu'>
				<ul>
				   <li class='has-sub last'>
				   	  <a><span>Gestion des groupes</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
				      <ul>
				         <li><a href="{{ path('fos_user_group_new') }}"><span>Créer</span></a></li>
				         <li class='last'><a href="{{ path('fos_user_group_list') }}"><span>Gérer</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
		  </li>
		  <li class="">
		  	<div id='cssmenu'>
				<ul>
				   <li class='has-sub last'>
				   	  <a><span>Gestion des utilisateurs</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
				      <ul>
				         <li><a href="{{ path('fos_user_registration_register') }}"><span>Créer</span></a></li>
				         <li class='last'><a href="{{ path('thiefaine_referentiel_utilisateurweb_list') }}"><span>Gérer</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
		  </li>
		  <li class="">
		  	<div id='cssmenu'>
				<ul>
				   <li class='has-sub last'>
				   	  <a><span>Gestion des zones</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
				      <ul>
				         <li><a href="{{ path('zone_new') }}"><span>Créer</span></a></li>
				         <li class='last'><a href="{{ path('zone') }}"><span>Gérer</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
		  </li>
		  <li class="">
		  	<div id='cssmenu'>
				<ul>
				   <li class='has-sub last'>
				   	  <a><span>Gestion des alertes</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
				      <ul>
				         <li><a href="{{ path('alerte_new') }}"><span>Créer</span></a></li>
				         <li class='last'><a href="{{ path('alerte') }}"><span>Gérer</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
		  </li>
		  <li class="">
		  	<div id='cssmenu'>
				<ul>
				   <li class='has-sub last'>
				   	  <a><span>Gestion des informations</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
				      <ul>
				         <li><a href="{{ path('information_new') }}"><span>Créer</span></a></li>
				         <li class='last'><a href="{{ path('information') }}"><span>Gérer</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
		  </li>
		  <li class="">
		  	<div id='cssmenu'>
				<ul>
				   <li class='has-sub last'>
				   	  <a><span>Gestion des conseils</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
				      <ul>
				         <li><a href="{{ path('conseil_new') }}"><span>Créer</span></a></li>
				         <li class='last'><a href="{{ path('conseil') }}"><span>Gérer</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
		  </li>
		</ul>
	</div>
{% endblock %}