{% extends 'ThiefaineReferentielBundle:Default:index.html.twig' %}

{% block leftbar %}
	<div class="col-md-3">
		<div id="left_bar">
			<ul class="nav nav-pills nav-stacked">
			  <li class=""><a href="{{ path('thiefaine_referentiel_accueil') }}">Accueil</a></li>
			  {% if is_granted('ROLE_MANAGE_GROUP') %}
			  <li class="">
			  	<div id='cssmenu'>
					<ul>
					   <li class='has-sub last'>
					   	  <a><span>Gestion des groupes</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
					      <ul>
					         <li><a href="{{ path('fos_user_group_new') }}"><span>Créer</span></a></li>
					         <li class='last'><a href="{{ path('fos_user_group_list') }}"><span>Gérer</span></a></li>
					      </ul>
					   </li>
					</ul>
				</div>
			  </li>
			  {% endif %}
			  {% if is_granted('ROLE_MANAGE_USER') %}
			  <li class="">
			  	<div id='cssmenu'>
					<ul>
					   <li class='has-sub last'>
					   	  <a><span>Gestion des utilisateurs</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
					      <ul>
					         <li><a href="{{ path('fos_user_registration_register') }}"><span>Créer</span></a></li>
					         <li class='last'><a href="{{ path('thiefaine_referentiel_utilisateurweb_list') }}"><span>Gérer</span></a></li>
					      </ul>
					   </li>
					</ul>
				</div>
			  </li>
			  {% endif %}
			  {% if is_granted('ROLE_MANAGE_ZONE') %}
			  <li class="">
			  	<div id='cssmenu'>
					<ul>
					   <li class='has-sub last'>
					   	  <a><span>Gestion des zones</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
					      <ul>
					         <li><a href="{{ path('zone_new') }}"><span>Créer</span></a></li>
					         <li class='last'><a href="{{ path('zone') }}"><span>Gérer</span></a></li>
					      </ul>
					   </li>
					</ul>
				</div>
			  </li>
			  {% endif %}
			   {% if is_granted('ROLE_MANAGE_CATEGORIE') %}
			  <li class="">
			  	<div id='cssmenu'>
					<ul>
					   <li class='has-sub last'>
					   	  <a><span>Gestion des mot-clés</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
					      <ul>
					         <li><a href="{{ path('keyword_new') }}"><span>Créer</span></a></li>
					         <li class='last'><a href="{{ path('keyword') }}"><span>Gérer</span></a></li>
					      </ul>
					   </li>
					</ul>
				</div>
			  </li>
			  {% endif %}
			  {% if is_granted('ROLE_MANAGE_INFORMATION') %}
			  <li class="">
			  	<div id='cssmenu'>
					<ul>
					   <li class='has-sub last'>
					   	  <a><span>Gestion des messages</span><span style="float:right; font-weight: bold;">&rsaquo;</span></a>
					      <ul>
					         <li><a href="{{ path('message_new') }}"><span>Créer</span></a></li>
					         <li class='last'><a href="{{ path('message') }}"><span>Gérer</span></a></li>
					      </ul>
					   </li>
					</ul>
				</div>
			  </li>
			  {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}