{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/lib/bootstrap_filestyle/src/bootstrap-filestyle.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="content">
        
        <h3>Edition d'un conseil</h1>

		{{ form_start(edit_form,{'attr': {'class' : 'form-horizontal'}} ) }}

			{{ form_errors(edit_form) }}

			<div class="form-group">

				<p>
					{{ form_label(edit_form.titre) }}
					{{ form_widget(edit_form.titre) }}
				</p>
				<p>
					{{ form_label(edit_form.urlphoto) }}
					{{ form_widget(edit_form.urlphoto) }}
				</p>
				<p>
					{{ form_label(edit_form.attachement) }}
					{{ form_widget(edit_form.attachement) }}
				</p>
				<p>
					{{ form_label(edit_form.urllien) }}
					{{ form_widget(edit_form.urllien) }}
				</p>
				<p class="dateElement">
					{{ form_label(edit_form.datevalidite) }}
					{{ form_widget(edit_form.datevalidite) }}
				</p>
				<p>
					{{ form_label(edit_form.message) }}
					{{ form_widget(edit_form.message) }}
				</p>
				<p>	
		      		<button class="btn btn-primary" type="submit">Modifier le conseil</button>
					<a class="btn btn-default" href={{ path('conseil') }}>Annuler</a>
		  	  	</p>

			</div>

		{{ form_end(edit_form) }}

    </div>



{% endblock %}
