{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/datepicker.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="content">
        
        <h3>Création d'un conseil</h1>

		{{ form_start(form,{'attr': {'class' : 'form-horizontal'}} ) }}

			{{ form_errors(form) }}

			<div class="form-group">

				<p>
					{{ form_label(form.titre) }}
					{{ form_widget(form.titre) }}
				</p>
				<p>
					{{ form_label(form.attachement) }}
					{{ form_widget(form.attachement) }}
				</p>
				<p>
					{{ form_label(form.urllien) }}
					{{ form_widget(form.urllien) }}
				</p>
				<p class="dateElement">
					{{ form_label(form.datevalidite) }}
					{{ form_widget(form.datevalidite) }}
				</p>
				<p>
					{{ form_label(form.message) }}
					{{ form_widget(form.message) }}
				</p>
				{{ form_widget(form.valider) }}
				{{ form_widget(form.annuler) }}

			</div>

		{{ form_end(form) }}

    </div>



{% endblock %}
