{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ entity.datecreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datemiseajour</th>
                <td>{{ entity.datemiseajour|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datevalidite</th>
                <td>{{ entity.datevalidite|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Compteurlecture</th>
                <td>{{ entity.compteurlecture }}</td>
            </tr>
            <tr>
                <th>Urlphoto</th>
                <td>{{ entity.urlphoto }}</td>
            </tr>
            <tr>
                <th>Urllien</th>
                <td>{{ entity.urllien }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('message_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
