
{% block content %}

	{% set flashMessages = app.session.flashbag.get('notice') %}

	<div class="content col-md-9">
		<h3>Mise à jour du groupe «{{ group_name }}»</h3>

		{% if flashMessages|length > 0 %}
    	<div class="alert alert-danger" role="alert" style="margin-top: 20px">
			{% for flashMessage in flashMessages %}
			    <p>
				{{ flashMessage }}
			   </p>
			{% endfor %}
		</div>
		{% endif %}
		
    	{{ form_start(form,{'attr': {'class' : 'form-horizontal'}} ) }}

			<div class="form-group">

				<p>
					 {{ form_label(form.name) }}
					 {{ form_widget(form.name) }}
				</p>
				<p class="list-form-control" data-toggle="tooltip" data-placement="right" title="Cocher les droits d'administration du groupe.">
					<label>Administration</label>
					<table class="table table-hover">
						<tr>
							<td>
					  			{{ form_label(form.gerergroupes) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{% if group_role_manage_group %}
					  				{{ form_widget(form.gerergroupes, { 'attr': {'checked': 'checked'} }) }}
					  			{% else %}
		                            {{ form_widget(form.gerergroupes) }}
		                        {% endif %}
					  		</td>
					  	</tr>
					  	<tr>
					  		<td>
					  			{{ form_label(form.gererutilisateurs) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{% if group_role_manage_user %}
					  				{{ form_widget(form.gererutilisateurs, { 'attr': {'checked': 'checked'} }) }}
					  			{% else %}
		                            {{ form_widget(form.gererutilisateurs) }}
		                        {% endif %}
					  		</td>
						</tr>
					</table>
				</p>

				<p class="list-form-control" data-toggle="tooltip" data-placement="right" title="Cocher les droits de créations du groupe.">
					<label>Messages et notifications</label>
					<table class="table table-hover">
						<tr>
					  		<td>
					  			{{ form_label(form.gererzones) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{% if group_role_manage_zone %}
					  				{{ form_widget(form.gererzones, { 'attr': {'checked': 'checked'} }) }}
					  			{% else %}
		                            {{ form_widget(form.gererzones) }}
		                        {% endif %}
					  		</td>
						</tr>
						<tr>
					  		<td>
					  			{{ form_label(form.gerercategories) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{% if group_role_manage_categorie %}
					  				{{ form_widget(form.gerercategories, { 'attr': {'checked': 'checked'} }) }}
					  			{% else %}
		                            {{ form_widget(form.gerercategories) }}
		                        {% endif %}
					  		</td>
						</tr>
					  	<tr>
					  		<td>
					  			{{ form_label(form.gererinfos) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{% if group_role_manage_information %}
					  				{{ form_widget(form.gererinfos, { 'attr': {'checked': 'checked'} }) }}
					  			{% else %}
		                            {{ form_widget(form.gererinfos) }}
		                        {% endif %}
					  		</td>
						</tr>
						<tr>
					  		<td>
					  			{{ form_label(form.gererconseils) }}
					  		</td>
					  		<td style="text-align: right;">
					  			{% if group_role_manage_conseil %}
					  				{{ form_widget(form.gererconseils, { 'attr': {'checked': 'checked'} }) }}
					  			{% else %}
		                            {{ form_widget(form.gererconseils) }}
		                        {% endif %}
					  		</td>
						</tr>
						
					</table>
				</p>

				<p>
					<input class="btn btn-primary" type="submit" value="Modifier le groupe" />
					<a class="btn btn-default" href={{ path('fos_user_group_list') }}>Annuler</a>
				</p>


			</div>

		{{ form_end(form) }}

	</div>
{% endblock %}
