{% block content %}
	<div class="content">
		<h3>Création d'un groupe</h3>
		
    	{{ form_start(form,{'attr': {'class' : 'form-horizontal'}} ) }}

			<div class="form-group">

				<p>
					 {{ form_label(form.name) }}
					 {{ form_widget(form.name) }}
				</p>
				<p class="list-form-control" data-toggle="tooltip" data-placement="right" title="Cocher les droits d'administration du groupe.">
					<label>Administration</label>
					<table class="table table-hover">
						<tr>
							<td>
					  			{{ form_label(form.gerergroupes) }}
					  		</td><td style="text-align: right;">
					  			{{ form_widget(form.gerergroupes) }}
					  		</td>
					  	</tr>
					  	<tr>
					  		<td>
					  			{{ form_label(form.gererutilisateurs) }}
					  		</td><td style="text-align: right;">
					  			{{ form_widget(form.gererutilisateurs) }}
					  		</td>
						</tr>
					</table>
				</p>

				<p class="list-form-control" data-toggle="tooltip" data-placement="right" title="Cocher les droits de créations du groupe.">
					<label>Messages et notifications</label>
					<table class="table table-hover">
						<tr>
							<td>
					  			{{ form_label(form.gereralertes) }}
					  		</td><td style="text-align: right;">
					  			{{ form_widget(form.gereralertes) }}
					  		</td>
					  	</tr>
					  	<tr>
					  		<td>
					  			{{ form_label(form.gererinfos) }}
					  		</td><td style="text-align: right;">
					  			{{ form_widget(form.gererinfos) }}
					  		</td>
						</tr>
						<tr>
					  		<td>
					  			{{ form_label(form.gererconseils) }}
					  		</td><td style="text-align: right;">
					  			{{ form_widget(form.gererconseils) }}
					  		</td>
						</tr>
					</table>
				</p>

				<p>
					<input class="btn btn-primary" type="submit" value="Valider" />
					<a class="btn btn-default" href={{ path('fos_user_group_list') }}>Annuler</a>
				</p>


			</div>

		{{ form_end(form) }}

	</div>
{% endblock %}
