{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/map.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/thiefainereferentiel/css/zone.css') }}">
{% endblock %}

{% block content %}

	<div class="content zone col-md-9" data-zone={{ entity.id }}>

		<h1>Edition de la zone</h1>

		<p>
			{{ form_label(edit_form.nom) }}
			{{ form_widget(edit_form.nom, {'id': 'zoneTitle'} ) }}
		</p>
		<p>
			{{ form_label(edit_form.latitude) }}
			{{ form_widget(edit_form.latitude) }}
		</p>
		<p>
			{{ form_label(edit_form.longitude) }}
			{{ form_widget(edit_form.longitude) }}
		</p>
		<p>
			{{ form_label(edit_form.zoom) }}
			{{ form_widget(edit_form.zoom) }}
		</p>

		<p class="list-form-control" data-toggle="tooltip" data-placement="right" title="Cocher pour activer/désactiver la zone.">
			<label>Etat de la zone</label>
			<table class="table table-hover">
				<tr>
					<td>
			  			{{ form_label(edit_form.actif) }}
			  		</td><td style="text-align: right;">
			  			{{ form_widget(edit_form.actif) }}
			  		</td>
			  	</tr>
			</table>
		</p>

    	{{ form(delete_form) }}

    	<p>
    		<table id="mesPoints">
		        <tbody>
	                {% for point in entity.points %}
	                <tr>
	                    <td class="idpoint"> {{ point.id }} </td>
	                    <td class="latitudepoint"> {{ point.latitude }} </td>
	                    <td class="	"> {{ point.longitude }} </td>
	                    <td class="radiuspoint"> {{ point.radius }} </td>
	                </tr>
	                {% endfor %}		            
		        </tbody>
		    </table>
		</p>

	</div>
{% endblock %}
