{% extends 'ThiefaineReferentielBundle:Nav:leftnav.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/map.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/thiefainereferentiel/css/zone.css') }}">
{% endblock %}

{% block content %}
	<div class="content">
		<h1>Zone creation</h1>

    	{{ form(form) }}

    	<p>
			<a class="btn btn-default" href={{ path('zone') }}>Annuler</a>
		</p>

    	<p>
			<label for="zoneRadius" class="control-label">Rayon de la zone</label>
			<div class="input-group list-form-control" data-toggle="tooltip" data-placement="right" title="Saisisser le rayon de la zone à créer. (nota : il est 	possible de modifier le rayon et déplacer la zone une fois celle-ci crée.)">
				<input type="text" class="form-control" id="zoneRadius" placeholder="Rayon de la zone">
				<span class="input-group-btn">
				  <button id="zoneRadiusBtn" class="btn btn-primary" type="button">Générer la zone</button>
				</span>
			</div>
			<div id="MesCercleGoogle">
				<table class="table table-hover" style="border-collapse: inherit; margin-bottom: 0px;">
			  	
				</table>
			</div>
			<div id="MaCarteGoogle"></div>
		</p>
	</div>
{% endblock %}

