{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/map.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/thiefainereferentiel/css/zone.css') }}">
{% endblock %}

{% block content %}
	<div class="content">

		<h3>Création d'une zone</h3>

		{{ form_start(form,{'attr': {'class' : 'form-horizontal'}} ) }}

			<div class="form-group">

				<p>
					{{ form_label(form.nom) }}
					{{ form_widget(form.nom, {'id': 'zoneTitle'} ) }}
				</p>

				<p>	
					<input class="btn btn-primary" type="submit" value="Valider" />
					<a class="btn btn-default" href={{ path('zone') }}>Annuler</a>
				</p>

		    </div>
		    
		{{ form_end(form) }}

		{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="flash-notice">
		        {{ flashMessage }}
		    </div>
		{% endfor %}

	</div>
{% endblock %}

