{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Zone</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Zoom</th>
                <td>{{ entity.zoom }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                {% for point in entity.points %}
                    <td> {{ point.id }} </td>
                    <td> {{ point.latitude }} </td>
                    <td> {{ point.longitude }} </td>
                    <td> {{ point.radius }} </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('zone') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('zone_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
