{% extends 'ThiefaineUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/datatable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/thiefainereferentiel/js/table.js') }}"></script>
{% endblock %}

{% block content %}
        <div class="content col-md-9">

            <h3>Gestion des categories</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>Libellé <span class="glyphicon cheveron-down" title="Trier par libellé"></span></th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>
                            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">
                                <span class="glyphicon glyphicon-pencil" title="Modifier"></span>
                            </a>

                            {% set messageDelete %}
                            return confirm('Attention cette action supprimera tous les informations et conseils rattachés à cette catégorie.\nEtes vous sûr de vouloir supprimer le conseil {{categorie.libelle}} ?');
                            {% endset %}

                            <a href="{{ path('categorie_delete', {'id': categorie.id}) }}" onclick="{{ messageDelete }}">
                                <span class="glyphicon glyphicon-remove" title="Supprimer"></span>
                            </a>
                        </td>
                        <td>{{ categorie.libelle }}</td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>
{% endblock %}